/* src/stalin.css */
:root {
  --fluro-yellow-rgb:
    247,
    235,
    12;
  --fluro-pink-rgb:
    236,
    46,
    123;
  --fluro-coral-rgb:
    249,
    92,
    42;
  --fluro-purple-rgb:
    139,
    90,
    246;
  --fluro-blue-rgb:
    60,
    148,
    246;
  --fluro-green-rgb:
    4,
    218,
    137;
}
mark.yellow {
  background-color: rgba(var(--fluro-yellow-rgb), 0.4);
}
mark.purple {
  background-color: rgba(var(--fluro-purple-rgb), 0.4);
}
mark.blue {
  background-color: rgba(var(--fluro-blue-rgb), 0.4);
}
mark.green {
  background-color: rgba(var(--fluro-green-rgb), 0.4);
}
mark.coral {
  background-color: rgba(var(--fluro-coral-rgb), 0.4);
}
mark.pink {
  background-color: rgba(var(--fluro-pink-rgb), 0.4);
}
.cm-s-obsidian span.cm-highlight.yellow {
  background-color: rgba(var(--fluro-yellow-rgb), 0.4);
}
.cm-s-obsidian span.cm-highlight.purple {
  background-color: rgba(var(--fluro-purple-rgb), 0.4);
}
.cm-s-obsidian span.cm-highlight.blue {
  background-color: rgba(var(--fluro-blue-rgb), 0.4);
}
.cm-s-obsidian span.cm-highlight.green {
  background-color: rgba(var(--fluro-green-rgb), 0.4);
}
.cm-s-obsidian span.cm-highlight.coral {
  background-color: rgba(var(--fluro-coral-rgb), 0.4);
}
.cm-s-obsidian span.cm-highlight.pink {
  background-color: rgba(var(--fluro-pink-rgb), 0.4);
}

/* main.css */
.collection-node[data-v-36f883ab] {
  margin-left: 10px;
}
.node-self[data-v-36f883ab] {
  display: flex;
  align-items: center;
  padding: 2px 0;
}
.node-toggle-icon[data-v-36f883ab] {
  cursor: pointer;
  width: 20px;
  text-align: center;
  margin-right: 5px;
}
.node-name[data-v-36f883ab] {
  flex-grow: 1;
}
.collection-icon[data-v-36f883ab] {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border-radius: 3px;
}
.collection-counter[data-v-36f883ab] {
  font-size: 0.8em;
  color: var(--text-muted);
  margin-right: 10px;
}
.node-control[data-v-36f883ab] {
  padding-right: 5px;
}
.node-children[data-v-36f883ab] {
  border-left: 1px solid var(--background-modifier-border);
  padding-left: 10px;
  margin-left: 10px;
}
.switch[data-v-36f883ab] {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}
.switch input[data-v-36f883ab] {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider[data-v-36f883ab] {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-modifier-border);
  -webkit-transition: .2s;
  transition: .2s;
}
.slider[data-v-36f883ab]:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}
input:checked + .slider[data-v-36f883ab] {
  background-color: var(--interactive-accent);
}
input:focus + .slider[data-v-36f883ab] {
  box-shadow: 0 0 1px var(--interactive-accent);
}
input:checked + .slider[data-v-36f883ab]:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}
.slider.round[data-v-36f883ab] {
  border-radius: 20px;
}
.slider.round[data-v-36f883ab]:before {
  border-radius: 50%;
}
.setting-item[data-v-05e49569] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--background-modifier-border);
  border-top: none;
  padding-bottom: 10px;
}
.collections-tree .setting-item[data-v-05e49569]:last-of-type,
.view-switcher + div > .setting-item[data-v-05e49569]:last-of-type {
  border-bottom: none;
}
.setting-item-info[data-v-05e49569] {
  flex-grow: 1;
}
.setting-item-name[data-v-05e49569] {
  font-size: 1.1em;
  font-weight: bold;
}
.setting-item-description[data-v-05e49569] {
  font-size: 0.9em;
  font-style: italic;
  color: var(--text-muted);
}
.hint-text[data-v-05e49569] {
  font-size: 0.9em;
  font-style: italic;
  color: var(--text-muted);
  background-color: var(--background-secondary);
  padding: 10px;
  border-radius: 4px;
  margin: 15px 0;
  width: 100%;
}
.view-description[data-v-05e49569] {
  margin-top: -5px;
}
.template-help[data-v-05e49569] {
  margin-top: -10px;
  margin-bottom: 10px;
}
.template-help ul[data-v-05e49569] {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
}
.template-help li[data-v-05e49569] {
  margin-bottom: 5px;
}
.setting-item-control input[data-v-05e49569] {
  width: 250px;
}
.switch[data-v-05e49569] {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}
.switch input[data-v-05e49569] {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider[data-v-05e49569] {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-modifier-border);
  transition: .2s;
}
.slider[data-v-05e49569]:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .2s;
}
input:checked + .slider[data-v-05e49569] {
  background-color: var(--interactive-accent);
}
input:focus + .slider[data-v-05e49569] {
  box-shadow: 0 0 1px var(--interactive-accent);
}
input:checked + .slider[data-v-05e49569]:before {
  transform: translateX(14px);
}
.slider.round[data-v-05e49569] {
  border-radius: 20px;
}
.slider.round[data-v-05e49569]:before {
  border-radius: 50%;
}
.template-actions[data-v-05e49569] {
  text-align: right;
  margin-top: 10px;
}
h3[data-v-05e49569],
h4[data-v-05e49569] {
  margin-top: 45px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--background-modifier-border);
  padding-bottom: 10px;
}
.unsorted-toggle[data-v-05e49569] {
  border-top: none;
  padding-top: 15px;
  margin-top: 15px;
}
textarea[data-v-05e49569] {
  width: 100%;
  min-height: 200px;
  margin-bottom: 10px;
  font-family: monospace;
  background-color: var(--background-secondary);
  color: var(--text-normal);
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  padding: 5px;
}
a[data-v-05e49569] {
  color: var(--text-accent);
}
.view-switcher[data-v-05e49569] {
  display: flex;
  margin-top: 45px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--background-modifier-border);
  padding-bottom: 10px;
}
.view-switcher button[data-v-05e49569] {
  flex-grow: 1;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}
.view-switcher button.active[data-v-05e49569] {
  border-bottom-color: var(--interactive-accent);
  color: var(--text-normal);
}
.template-help code[data-v-05e49569] {
  font-family: var(--font-monospace);
  font-size: 0.9em;
  color: var(--text-accent);
}

/* src/main.css */
